<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Qmodi Tracking App</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This is a tracking application and therefore requires access to location services</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This is a tracking application and therefore requires access to location services</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This is a tracking application and therefore requires access to location services</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Qmodi Tracking App collects location data to enable tracking yours several loads and calculate distance travelled	when app is working or even when the app is closed or not in use. This data will be uploaded to qmodi.com where you can view and/or delete your location(Loads) tavelled history. Qmodi Tracking App collects location data to enable 1. Estimate/Actual Time Needed for each load trips 2. Distance traveled (Actual vs as on load map) estimate vs actual 3. Marking and Notifying on entry and exit of each Geo fence (Stops) in the load trips even when the app is closed or not in use.</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Start service</string>
			<key>UIApplicationShortcutItemType</key>
			<string>org.traccar.client.start</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Stop service</string>
			<key>UIApplicationShortcutItemType</key>
			<string>org.traccar.client.stop</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Send SOS</string>
			<key>UIApplicationShortcutItemType</key>
			<string>org.traccar.client.sos</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>MainStoryboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
